
$column_count: 11;

body {
  font-family: 'Open Sans', sans-serif;
  #binaryEditer {
    max-width: 800px;
    margin: 50px auto;
    #importExportBox {
      #importImg {
        border: 1px lightgray solid;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    #binarySheet {
      position: relative;
      margin-top: 50px;
      border: 1px gray solid;
      #sheetHeader {
        display: flex;
        flex-wrap: nowrap;
        position: sticky;
        top: 0;
        background-color: white;
        > div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: calc(100% / $column_count);
          aspect-ratio: 2 / 1;
          background-color: aliceblue;
          border: 1px lightgray solid;
        }
      }
      #cellContainer {
        display: grid;
        grid-template-columns: repeat($column_count, 1fr);
        max-height: 500px;
        overflow-y: scroll;
        scrollbar-width: none;
        &::-webkit-scrollbar{
          display:none;
        }
        .row_index {
          background-color: lightyellow;
          border-right: 1px yellow solid;
        }
        .cell {
          border-right: 1px lightgray solid;
          border-bottom: 1px lightgray solid;
          cursor: crosshair;
        }
        .row_index, .cell {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  #loaderContainer.loading {
    position: fixed;
    inset: 0;
    display: flex;
    background-color: rgba(lightcyan, 0.5);
    // https://loading.io/css/
    #loader {
      position: relative;
      width: 150px;
      height: 150px;
      margin: auto;
      div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: blue;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
        &:nth-child(1) {
          left: 8px;
          animation: lds-ellipsis1 0.6s infinite;
        }
        &:nth-child(2) {
          left: 8px;
          animation: lds-ellipsis2 0.6s infinite;
        }
        &:nth-child(3) {
          left: 32px;
          animation: lds-ellipsis2 0.6s infinite;
        }
        &:nth-child(4) {
          left: 56px;
          animation: lds-ellipsis3 0.6s infinite;
        }
      }
    }
    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
  }
}

.hidden {
  display: none;
}
